/* colors */
:root {
  --grey-0: #ffffff;
  --grey-100: #0b1421;
  --blue-0: #f2f9ff;
  --blue-5: #d3e6fa;
  --grey-5: #f7f8fc;
  --grey-10: #e3e5ee;
  --blue-10: #b6d6f7;
  --blue-20: #80b6f0;
  --grey-20: #cfd2e0;
  --blue-30: #5196e5;
  --grey-30: #abafbf;
  --blue-40: #2e76cf;
  --grey-40: #878c9d;
  --blue-50: #115dc4;
  --blue-60: #0044ac;
  --grey-50: #676c7d;
  --blue-70: #00338d;
  --grey-60: #4d5160;
  --blue-80: #00266c;
  --blue-90: #001946;
  --blue-100: #000b1f;
  --grey-70: #373b49;
  --grey-80: #262a37;
  --grey-90: #191e2b;
  --red-0: #ffe6e6;
  --green-0: #f2fff7;
  --red-5: #ffcccc;
  --red-10: #feb3b3;
  --green-5: #d2fce1;
  --red-20: #f98585;
  --red-30: #f15c5c;
  --green-10: #b3f9ce;
  --green-20: #87eab0;
  --green-30: #55d18f;
  --red-60: #b81f12;
  --red-70: #9b170b;
  --red-80: #781007;
  --red-90: #550b05;
  --red-100: #330704;
  --green-40: #25ae6c;
  --green-50: #00844d;
  --green-60: #035d39;
  --green-70: #053d27;
  --green-80: #06281b;
  --green-90: #071c13;
  --green-100: #081711;
  --red-40: #e63f39;
  --red-50: #d52b1e;
  --yellow-0: #fffae0;
  --yellow-20: #fed647;
  --yellow-5: #fff3b3;
  --yellow-30: #ffc425;
  --yellow-10: #ffec85;
  --yellow-40: #eba62f;
  --secondary: #0b1421;
}
